@use "../core/variables";


.is-mb-sm {
  margin-bottom: 16px;
}

.is-mb {
  margin-bottom: variables.$base-spacing;
}

.is-mb-lg {
  margin-bottom: 60px;
}

@media only screen and (min-width: variables.$landscape) {
  .is-mb-sm {
    margin-bottom: 16px;
  }
  .is-mb {
    margin-bottom: variables.$base-spacing-landscape;
  }
  .is-mb-lg {
    margin-bottom: 80px;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.is-prompt {
  font-size: 12px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  opacity: .9;
  color: #FFFFFF;
  background-color: #AAAAAA;
}
