@use "../core/variables";

/* @  Header Layout
 * ------------------------------------------------------------ */

.l-header {
}

//pc用
//-----------------------------------------
.l-header_pc {
  display: none;
}

@media only screen and (min-width: variables.$landscape) {
  .l-header_pc {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
}

.l-header_primary-pc {
  display: flex;
  max-width: variables.$main-width;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  padding-right: variables.$base-gap;
  padding-left: variables.$base-gap;
  flex-flow: row nowrap;
  justify-content: space-between;

  .l-header_logo {
    margin-top: 10px;
  }

  .l-header_logo img {
    max-width: 150px;
    max-height: 60px;
  }

  .l-header_tel {
  }

  .l-header_tel a {
    font-size: 33px;
    font-weight: bold;
    text-decoration: none;
    color: variables.$primary-text;
  }

  .l-header_tel span {
    font-size: 22px;
    margin-right: 8px;
    color: variables.$primary-dark-color;
  }

  .l-header_sub-nav {
    margin-bottom: 19px;
  }

  .l-header_sub-nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  .l-header_sub-nav ul li {
    margin-left: 24px;
  }

  .l-header_sub-nav ul li a {
    font-size: 12px;
    line-height: 1.4;
    text-decoration: none;
    color: variables.$secondary-text;

  }

  .l-header_sub-nav ul li a:hover {
    text-decoration: underline;
  }
}

.l-header_secondary-pc {
  background: variables.$primary-dark-color;

  .l-header_nav {
    max-width: variables.$main-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: variables.$base-gap;
    padding-left: variables.$base-gap;
  }

  .l-header_nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .l-header_nav ul li {
    width: 100%;
  }

  .l-header_nav ul li a {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    display: block;
    box-sizing: border-box;
    padding: 19px 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }

  .l-header_nav ul li a:hover,
  .l-header_nav ul li a.is-active,
  .l-header_nav ul li a.stay {
    background-color: variables.$primary-color;
  }

  .l-header_nav ul li a:focus {
    outline-offset: -3px;
  }
}


//sp用
//-----------------------------------------
.l-header_sp {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 60px;
  transition: 800ms cubic-bezier(.4, 0, .2, 1);
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
}

@media only screen and (min-width: variables.$landscape) {
  .l-header_sp {
    display: none;
  }
}


.l-header_primary-sp {
  position: relative;
  display: flex;
  height: inherit;
  padding-right: variables.$base-gap;
  padding-left: variables.$base-gap;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;


  .l-header_order1 {
    order: 1;
    width: 8%;
  }

  .l-header_order2 {
    order: 2;
  }

  .l-header_order3 {
    order: 3;
    width: 8%;
  }

  .l-header_logo img {
    max-width: 150px;
    max-height: 44px;
  }

  .l-header_tel {
  }

  .l-header_tel a {
    color: variables.$primary-text;
  }


  .l-header_nav-control {
    position: absolute;
    z-index: 800;
    top: 23px;
    left: 20px;
  }

  .l-header_nav-control a,
  .l-header_nav-control button {
    display: block;
    margin: 0 auto;
    padding: 0;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 0;
    outline: none;
    background-color: transparent;
    appearance: none;
  }

  .l-header_nav-control a:hover,
  .l-header_nav-control button:hover {
    text-decoration: none;
  }

  .l-header_nav-control-icon {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
    transform: rotate(0deg);
    //mix-blend-mode: multiply;
  }

  .l-header_nav-control-icon span {
    position: absolute;
    left: 0;
    display: block;
    width: inherit;
    height: 2px;
    transition: .25s ease-in-out;
    transform: rotate(0deg);
    opacity: 1;
    border-radius: 9px;
    background: variables.$primary-text;
  }

  .l-header_nav-control-icon span:nth-child(1) {
    top: 0;
  }

  .l-header_nav-control-icon span:nth-child(2) {
    top: 6px;
  }

  .l-header_nav-control-icon span:nth-child(3) {
    top: 12px;
  }

  [aria-expanded='true'] {
    .l-header_nav-control-icon span:nth-child(1),
    .l-header_nav-control-icon span:nth-child(3) {
      transform: rotate(135deg);
    }

    .l-header_nav-control-icon span:nth-child(2) {
      opacity: 0;
    }

    .l-header_nav-control-icon span:nth-child(1) {
      top: 8px;
    }

    .l-header_nav-control-icon span:nth-child(2) {
      left: -60px;
    }

    .l-header_nav-control-icon span:nth-child(3) {
      top: 8px;
    }
  }

}


.l-header_secondary-sp {
  /*open - start*/
  .l-header_nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 256px;
    height: 100%;
    transition-delay: .1s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    transition-property: transform, left;
    transform: translateX(-257px);
    background: #fff;
    transform-style: preserve-3d;
  }

  [aria-hidden='false'].l-header_nav {
    transform: translateX(0);
    background: #fff;
  }

  .l-header_nav-body {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    -webkit-overflow-scrolling: touch;
  }

  /*open - end*/

  nav {
    padding-top: 35px;
  }

  .l-header_nav-list li a {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    position: relative;
    display: block;
    padding: 16px 10px 16px 30px;
    text-decoration: none;
    color: variables.$primary-text;
    border-radius: 0;
  }

  .l-header_nav-list li a::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: auto;
    content: '';
    transform: rotate(45deg);
    vertical-align: middle;
    border-style: solid;
    border-color: variables.$primary-text;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
  }


  .l-header_nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 256px;
    height: 100%;
    transition-delay: .1s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    transition-property: transform, left;
    transform: translateX(-257px);
    background: #fff;
    transform-style: preserve-3d;
  }

  [aria-hidden='false'].l-header_nav {
    transform: translateX(0);
    background: #fff;
  }

  .l-header_nav-body {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    -webkit-overflow-scrolling: touch;
  }

}

